@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
  }  

/*================================ VARIABLES CSS ========================================*/
:root {
    --primary-color:#1D3C78;
    --menu-text-color:#fb3c44;
    --test-red:red;
    --test-blue:blue;
    --font-color:#f4686f;
    --text-color:#1D3C78;
}

/*================================ RESET CSS ========================================*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

p {
    font-size: 3.5rem;
    color: var(--text-color);
}

/*================================ BODY ========================================*/
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

/*================================ Header ========================================*/
/* Estilos del header */
header {
    background-color: var(--primary-color);
    width: 100%;
    position: relative; /* Necesario para posicionar el menú cuando esté abierto */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    min-height: 110px;
    margin: 0 auto;
    padding: 0 1rem;
    gap: 3rem;
}

.img_logo img {
    max-height: 60px; /* Ajusta el tamaño del logo según sea necesario */
}

.nav-menu {
    flex-grow: 1;
}

#menu {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0;
}

#menu a {
    text-decoration: none;
    color: var(--menu-text-color); /* Ajusta el color según tu diseño */
    font-size: 2rem; /* Ajusta el tamaño de fuente según sea necesario */
}

#menu a:hover {
    color: #FA3C45AB;
}

#menu a:active {
    color: white;
}

.social_media {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#social_media-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

#social_media-menu a {
    text-decoration: none;
    color: white; /* Ajusta el color según tu diseño */
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según sea necesario */
}

.svg-icon {
    width: 18px;
    height: 18px;
    transition: fill 0.3s;
}

.svg-icon path {
    fill: #ffffff;
}

.svg-icon:hover path {
    fill: #FA3C45AB; /* Cambia esto al color que prefieras */
}

.icon_menu {
    cursor: pointer;
    display: none;
}

.icon_menu img {
    height: 30px;
}

@media (max-width: 803px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        display: none; /* Esconde el menú de navegación en dispositivos pequeños */
    }

    .icon_menu {
        display: flex;
        align-items: center;
    }

    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110px; /* Ajusta según la altura del header */
        left: 0;
        width: 100%;
        background-color: var(--gray-dark);
        padding: 1em;
        gap: 1em;
        margin: 0;
        transition: transform 0.3s ease;
        transform: translateX(-100%); /* Esconde el menú inicialmente */
    }

    .show_menu {
        transform: translateX(0); /* Muestra el menú cuando se activa la clase */
    }

    #menu a {
        font-size: 1.5rem; /* Ajusta el tamaño del texto en el menú desplegable */
    }
}

/*================================ Hero ========================================*/
/* Estilos del hero */
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../../assert/img/seven-suites-hotels.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo si es necesario */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Ajusta el ancho para mayor flexibilidad */
    max-width: 1200px;
    color: white;
    gap: 2rem; /* Añadido para mejorar el espaciado */
}

.hero-section {
    flex: 1;
    padding: 2rem;
}

.left-section img {
    max-width: 100%;
    height: auto; /* Asegura que la imagen se ajuste correctamente */
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.right-section h1 {
    font-size: 6.0rem;
    font-weight: 300;
    font-style: italic;
}

.right-section p {
    font-size: 2.0rem;
}

.form__button {
    background-color: #F25050; /* Ajusta el color del botón según sea necesario */
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

.form__button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.form__button a:hover {
    color: #FA3C45; /* Ajusta el color del texto al pasar el ratón sobre el botón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center; /* Centra el texto en dispositivos pequeños */
    }

    .left-section, .right-section {
        padding: 1rem;
    }

    .right-section h1 {
        font-size: 4rem; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    .right-section p {
        font-size: 1.5rem; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }
}

/*================================ Main ========================================*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.section-title {
    color: var(--font-color);
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 6rem;
}

/*================================ Beneficios ========================================*/
.beneficios {
    padding: 8rem 2rem 11rem;
}

/* < ---------- Cards Container ---------- > */
.cards-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Aumentado el gap entre las tarjetas */
    justify-content: center; /* Centra las tarjetas en la pantalla */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
}

/* < ---------- Card ---------- > */
.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
    overflow: hidden; /* Asegura que las imágenes no sobresalgan del borde */
    max-width: 320px; /* Máximo ancho de la tarjeta */
    width: 100%; /* Asegura que se ajuste al contenedor */
    margin: auto; /* Centra cada tarjeta en su contenedor */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4); /* Añadido efecto de sombra en hover */
}

/* < ---------- Header Cards ---------- > */
.card_header {
    height: 180px; /* Ajustado el tamaño para un mejor diseño */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9; /* Fondo claro para la cabecera */
}

.card_img {
    width: 50%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.card_content {
    padding: 1.5rem;
    text-align: center;
}

.card_name {
    color: #1D3C78; /* Ajusta el color según tu esquema de diseño */
    font-weight: 500;
    font-size: 1.8rem; /* Ajustado para mejor legibilidad */
    margin: 1rem 0;
}

.card_footer {
    padding: 1rem;
}

.card_list {
    color: #333; /* Ajusta el color del texto */
    font-weight: 300;
    font-size: 1.4rem; /* Ajustado para mejor legibilidad */
    line-height: 1.6; /* Mejora la legibilidad del texto */
    text-align: center; /* Centra el texto en la tarjeta */
}

/* < ---------- Media Cards Container ---------- > */
@media only screen and (max-width: 720px) {
    .beneficios {
        padding: 4rem 1rem 6rem; /* Ajusta el padding en pantallas pequeñas */
    }

    .cards-container {
        gap: 1.5rem; /* Ajustado el espacio entre tarjetas en pantallas pequeñas */
    }

    .card {
        max-width: 350px;
        margin-top: 2rem; /* Reduce el margen en pantallas pequeñas */
    }

    .card_img {
        width: 40%;
    }

    .card_header {
        height: 150px; /* Ajustado el tamaño de la cabecera */
    }

    .card_name {
        font-size: 1.6rem; /* Ajustado el tamaño de fuente para pantallas pequeñas */
    }

    .card_list {
        font-size: 1.2rem; /* Ajustado el tamaño de fuente para pantallas pequeñas */
    }
}


/*================================ Contacto Section ========================================*/
.contacto {
    background: linear-gradient(35deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    width: 100vw;
    padding: 8rem 2rem 11rem;
}

.contacto-section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 2rem;
}

.left-section-contact, .right-section-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    color: #333;
    gap: 2rem;
}

.contact-info-section {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente según sea necesario */
    color: #333; /* Ajusta el color según tu diseño */
}

/* Responsividad */
@media (max-width: 768px) {
    .contacto-section {
        flex-direction: column;
    }

    .left-section-contact, .right-section-contact {
        width: 100%;
    }
}

/* < ==================== Form ==================== > */
.form__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
    position: fixed;
    right: 0;
  }
  
  @media (min-width: 500px) {
    .form_container {
      width: 40%;
    }
  }
  
  .form__title {
    margin-left: 5rem;
    font-size: 2rem;
    color: var(--primary-color);
  }
  
  form {
    background: #fff;
    padding: 2rem 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0,8);
    border-radius: 1rem;
  }
  
  .form {
    width: 100%;
    margin: auto;
  }
  
  form .form__grupo {
    position: relative;
    margin: 4.5rem;
  }
  
  form .form__grupo i{
    /* color: #d400d4; */
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: -3rem;
  }
  
  input {
    background: none;
    display: block;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 0.1rem solid #5e5d5d;
    font-size: 1.2rem;
    color: #c6c6c6;
    width: 100%;
  }
  
  input:focus{
    outline: none;
    color: #5e5d5d;
  }
  
  label{
    font-size: 1.6rem;
    color: #5e5d5d;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
  }
  
  input:focus~label, 
  input:valid~label{
    top: -1rem; 
    font-size: 1.2rem;
    color: var(--primary-color);
  }
  
  .barra {
    display: block;
    width: 100%;
    position: relative;
  }
  
  .barra::before {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: var(--menu-text-color);
    transition: 0.3s ease;
    left: 0;
  }
  
  input:focus~.barra::before{
    width: 100%;
  }
  
  .form__button{
    background: var(--primary-color);
    display: block;
    /* margin: 10px auto; */
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 80%;
    height: 40px;
    font-family: 'roboto';
    font-size: 1.6rem;
    color: #fff;
  }

  .form__button:hover {
    background: #3a72e2b9;
    
  }
  
  @media (min-width: 500px) {
    form {
      width: 80%;
    }
  }
  /* < ==================== Form END ==================== > */

/*================================ Alianzas ========================================*/
.alianzas {
    width: 100vw;
    padding: 8rem 2rem 12rem;
    text-align: center;
    color: white;
}

.alianza-section-text > p {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100vw; /* Ensure there's enough width to loop the images */
    position: relative;
    display: flex;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    animation: scroll-right 20s linear infinite;
}

.carousel img {
    width: 12%; /* Adjust this to change the size of the images */
    height: auto;
    margin-right: 10px; /* Add space between images */
}

@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*================================ Footer ========================================*/
footer {
    background-color: var(--primary-color);
    width: 100%;
    min-height: 80px;
    gap: 1rem;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
    gap: 2rem;
}

.footer-info p {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.footer-social_media {
    color:white;
    text-align: center;
    font-size: 1.5rem;
}
